*{
	margin: 0px;
	padding: 0px;
}
header	{
	width:  200px;
	height: 100%;
	background-color: #ff3030;
	position: fixed;
	top: 0;
	left: 0;
}
header .box {
	background-color:  #d1d100;
	margin: 10px;
	width: 180px;
	flex-grow: 1;
	border:  5px solid black;
	border-radius:  10px;
}
header	.box a {
	text-decoration: none;
	color: black;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
}
header .box:hover {
	color: white;
}