@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
img{
	max-height:  100%;
	max-width:  100%;
}
.content {
	width:  1200px;
	margin: 0 auto;
	background-color: #99ffb4;
}
.row {
	display: flex;
}
.box {
	width: 100px
	flex-grow: 1;
	background-color:  #8a9bff;
	margin: 10px;
}
.col-1 {
	flex-grow: 1;
	text-align: center;
}
.col-3 {
	flex-grow: 3;
}
p{
	font-family:  'Roboto' sans-serif;
	font-weight: 300;
}